spring:
  application:
    name: SpringAIProject-Assignment
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: mistral:latest
          temperature: 0.7